<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- Spring 整合myBatis 后，这个配置文件基本可以不要了-->
    <!-- 设置外部配置文件 -->

    <!-- 设置类别名 -->




    <!-- 映射文件 -->
    <!--<mappers>-->
        <!--<mapper resource="com/cx/bank/mybatis/UserMapper.xml"/>-->
        <!--<mapper resource="com/cx/bank/mybatis/AccountMapper.xml"/>-->
        <!--<mapper resource="com/cx/bank/mybatis/RecordMapper.xml"/>-->
        <!--<package name="com.cx.bank.dao"/>-->
    <!--</mappers>-->
</configuration>